version: "3.7"
services:
  db:
    environment:
      MYSQL_DATABASE: mot
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db-password
    image: mysql:8.0.19
    restart: always
    ports:
      - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "--silent"]
      interval: 3s
      retries: 5
      start_period: 30s
    secrets:
      - db-password
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - spring-mysql
volumes:
  db-data: {}
secrets:
  db-password:
    file: db/password.txt
networks:
  spring-mysql: {}